
h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.home-header {
  background-color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.heading-sub {
  margin-bottom: 1rem;
  font-weight: 400;
}

.heading-desc {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.about-me {
  background-color: #65a5f3;
  color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-me a {
  text-decoration: underline;
  text-underline-position: under;
  color: #fefefe;
}

.projects {
  background-color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-img-top {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-card {
  color: #fefefe;
  background-color: #d05d5b;
  border-color: #d05d5b;
}

.btn-card:hover {
  color: #fefefe;
}

.contact {
  color: #fefefe;
  background-color: #9c89b8;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.red {
  color: #d05d5b;
}

.grey {
  color: #e9ecef;
}

.blue {
  color: #65a5f3;
}

.purple {
  color: #9c89b8;
}

.mint {
   color: #a9fbd7;
}

.white {
  color: #fefefe;
}