
a {
  color: #65a5f3;
}

a:hover {
  color: #65a5f3;
  text-decoration: underline;
  text-underline-position: under;
}

h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.home-header {
  background-color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.heading-sub {
  margin-bottom: 1rem;
  font-weight: 400;
}

.heading-desc {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.about-me {
  background-color: #65a5f3;
  color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-me a {
  text-decoration: underline;
  text-underline-position: under;
  color: #fefefe;
}

.projects {
  background-color: #fefefe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.project {
  padding: 6rem 0;
}

.project a {
  color: #212529;
  text-decoration: none;
  transition: color .2s;
}

.project a:hover {
  color: #65a5f3;
}

.project img {
  width: 100%;
  margin-bottom: 1rem;
}

.project__tools {
  list-style: none;
  padding-left: 0;
}

.project__tools li {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  line-height: 25px;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  background: #65a5f3;
  padding: 0px 9px;
  margin-bottom: 4px;
}

.divider {
  border-top: 1px solid #e9ecef;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.skills {
  background-color: #e9ecef;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.skill {
  margin: 2rem 0;
  text-align: center;
}

.skill__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.contact {
  /*color: #fefefe;*/
  /*background-color: #9c89b8;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact button[type="submit"] {
  border: 1px solid #65a5f3;
  color: #65a5f3;
  background: #fefefe;
}

.contact button[type="submit"]:hover {
  color: #fefefe;
  background: #65a5f3;
}

footer {
  background: #33343A;
  padding: 2rem;
}

.red {
  color: #d05d5b;
}

.grey {
  color: #e9ecef;
}

.blue {
  color: #65a5f3;
}

.purple {
  color: #9c89b8;
}

.mint {
   color: #a9fbd7;
}

.white {
  color: #fefefe;
}